{
  "presets": [
    ["env", {
      "targets":  {},
      "modules": "commonjs",
      "loose": true
    }],
    "react", 
    "stage-2"
  ],
  "plugins": [
    "babel-plugin-transform-export-extensions",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
